#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#content {
    max-width: 320px;
    background: #FFF;
    box-shadow: 0 0 14px rgba(0,0,0,0.02);
    border-radius: 2px;
    padding: 30px 20px;    
}

